################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MudClient/v14
/CommandClient/bin/Debug
/CommandClient/obj/Debug
/MudClient/bin/Debug
/MudClient/obj/Debug
/MudClient.Common/bin/Debug
/MudClient.Common/obj/Debug
/MudClient.Extensions/obj/Debug
/MudClient.Extensions/bin/Debug
/MudClient.Core/obj/Debug
/MudClient.Core/bin/Debug
/MudClient.Installer/obj/Debug
/MudClient.Installer/bin/Debug/CSMudClient.wixpdb
/MudClient.Installer/bin/Debug/CSMudClient.msi
/MudClient.Installer/bin/Debug
